body{
    background-color: white;
    background-image: url(img/back.png);
    background-repeat:repeat;
    background-position: top;
    background-position: center;
    background-size: 100%;
    font-family: "STXihei","PingFang SC","Microsoft Yahei","HiraMinProN-W3","ヒラギノ明朝 ProN W3","MS UI Gothic","MS Gothic",sans-serif;
}

h1{
    font-size: 2.5em;
    font-family: Georgia;
    color: #FFDB8D;
    z-index: 2;
    font-variant: small-caps;
}

p.jianshu{
    font-size: 1em;
    color: #FFC56D;
    z-index: 2;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1%;
}

#menu{
    line-height: 2em;
    text-align: left;
    margin-left:35%; 
    margin-right: 6%;
}

a.mulu{
    color: #483D8B;
    margin-left: 0%;

}

#self{
    margin-left: 8%;
    margin-right: 65%;
    padding-left: 5%;
    padding-right: 3%;
    border-right: medium;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #edebeb;
    text-align: left;
    color: #666666;
    float: left;
    position: absolute;
}

ul.gmlist{
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

#footer{
    font-size: 0.5em;
    color: #BC8F8F;
    margin-top: 5%;
    width: 100%;
}

footer{
    font-size: 0.5em;
    color: #BC8F8F;
    margin-top: 5%;
    width: 100%;
}


div.daohang{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

a.dhl{
    margin-top: 0;
    margin-left: 0%;
    margin-right:0%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 12%;
    padding-right: 12%;
}

img.muluicon{
    margin-bottom: -10%;
    margin-top: 5%;
}

p.icondate{
    color: #E1E5EA;
    font-size: 0.7em;
    margin-left: 63%;
    
}

.holder{
    padding-right: 10%;
    letter-spacing: 0.5em;
    margin-bottom: -4%;
}

.holder a.jp-current,a.jp-current:hover{
    border-style: solid;
    border-width: 1px;
    color: #DB7093;
    padding-left: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 0.5%;
    margin-right: 2%;
    background-color: #FFFAFA;
}

.holder a{
    border-style: solid;
    border-width: 1px;
    color: #FFE4E1;
    padding-left: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 0.5%;
    margin-right: 2%;
}

.holder a:hover{
    border-style: solid;
    border-width: 1px;
    color: #DB7093;
    padding-left: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 0.5%;
    margin-right: 2%;
}

.holder a{
    cursor: default;
}

.holder a.jp-disabled,a.disabled:hover{
    color: white;
}
