/* 通用 收藏按键 */
a.shoucang{
    color: #BC8F8F;
    text-decoration: none;
}
a:hover.shoucang{
    color: #BC8F8F;
}
a:visited.shoucang{
    color: #BC8F8F;
}
/* end 收藏 */

/* to top/bottom */
#back-top {
    position: fixed;
    bottom: 10%;
    right: 5%;
}
#back-top a {
    width: 54px;
    height: 54px;
    display: block;
    background: url(img/to_top.png) no-repeat center center;
    background-size: 100%;
    transition: 1s;
}
#back-top a:hover {
    width: 54px;
    height: 54px;
    display: block;
    background: url(img/to_top1.png) no-repeat center center;
    background-size: 100%;
    transition: 1s;
}
/* end top/bottom */

#shoukai{
    font-size: 0.8em;
    color: #A9A9A9;
    text-align: left;
    line-height: 1.8em;
    padding: 0 8% 5% 8%;
}

/* pc */
@media screen and (min-width: 1024px){
/* 整体 */
body{
    background-color: white;
    background-image: url(img/back3.png);
    background-repeat:repeat;
    background-position: top;
    background-position: center;
    background-size: 100%;
    font-family: "STXihei","PingFang SC","Microsoft Yahei","HiraMinProN-W3","ヒラギノ明朝 ProN W3","MS UI Gothic","MS Gothic",sans-serif;
}
h1{
    font-size: 7em;
    font-family: Georgia;
    color: #FFDAB9;
    z-index: 2;
    font-variant: small-caps;
    margin-bottom: 0%;
}
p.jianshu{      /* describtion about this blog */
    font-size: 0.8em;
    color: #BC8F8F;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 2em;
}
/* end 整体 */

/* 导航栏 */
div.daohang{
    margin-top: 0%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 8%;
}
li.daohanglist{
    display: inline;
}
    /* link */
    a.dhl{
        margin-top: 0;
        margin-left: 0%;
        margin-right:0%;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 12%;
        padding-right:12%;
    }
    a:hover.dhl{
        text-decoration: none; color: #DB7093; background-color: FLORALWHITE; border-style: solid; border-width: 1px;
    }
    a:visited.dhl{
        text-decoration: none; color: #DB7093; border-style: solid; border-width: 1px;
    }
    a:link.dhl{
        text-decoration: none;color: #DB7093; border-style: solid; border-width: 1px;
    }
/* end 导航栏 */

/* 侧边栏 */
#cebian1{       /* right */
    display: none;
}
#cebian{        /* under */
    float: right;
    width: 25%;
    padding-right: 4%;
    text-align: left;
    z-index: 10;
    margin-top: 1.5%;
}
p.category{     /* title category & profile */
    font-size: 2em;
    border-bottom-style: dotted;
    border-width:1px;
    color: #666666;
    line-height: 1.5em;
}
ul.ccc{     /* gyo */
    margin-right: 2%;
    padding: 0;
}
li.gyo{
    font-size: 0.9em;
    color: #E6E6FA;
}
li.tags{
    color: #977FB7;
    font-size: 0.8em;
}
    /* link */
    a.cebianlan{
        color: #977FB7;
        font-size: 0.8em;
        text-decoration: none;
    }
    a.cebianlan:hover{
        color: #977FB7;
        font-size: 0.8em;
        background: #F0F8FF;
        text-decoration: none;
    }
    a.cebianlan:visited{
        color: #977FB7;
        font-size: 0.8em;
        text-decoration: none;
    }
/* end 侧边栏 */

/* 目录 */
#menu{      /* 父级 */
    line-height: 2em;
    text-align: left;
    margin-left:5%; 
    margin-right: 20%;
    width: 60%;
    margin-top: 5%;
    padding-top: 2%;
}
div.mmulu{      /* 一阶子集 */
    margin-bottom: 7%;
    background-color: white;
    box-shadow: 1px 1px 2px #FAF0E6;
    height: 30%;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: #FDF5E6;
    border-radius: 15px;
}
div.mmmulu{     /* 二阶子集 */
    margin-top: 5%;
    overflow: hidden;
}
    /* link */
    a.mulu{
        color: #737070;
        font-size: 1.2em;
        float: center;
    }
    a:link.mulu{
        text-decoration: none;
    }
    a:visited.mulu{
        text-decoration: none;
    }
    a:hover.mulu{
        text-decoration: none;
        background-color: #FFFAF0;
    }
    a:active.mulu{
        text-decoration: none;
    }
    a:active{
        text-decoration: none;
    }
    /* icon */
    img.muluicon{
        float: left;
        width: 35%;
        clear: left;
        background-color: white;
        margin: 0;
    }
    /* date */
    p.icondate{
        color: #E1E5EA;
        font-size: 0.8em;
        text-align: center;
    }
    /* digest */
    p.digest{
        font-size: 0.8em;
        line-height: 1.7em;
        color: #A9A9A9;
        text-align: center;
        text-indent: 0;
        margin-left: 10%; 
        margin-right: 10%;
    }
    a:link.digesta{
        text-decoration: none;
    }
    a:visited.digesta{
        text-decoration: none;
    }
    a:hover.digesta{
        text-decoration: underline;
        color: #818181;
    }
/* end 目录 */

/* 分页器 */
.holder{
    letter-spacing: 0.5em;
}
.holder a.jp-current,a.jp-current:hover{
    color: #DB7093;
    background-color: #FFFAFA;
}
.holder a{
    color: #FFE4E1;
}
.holder a:hover{
    color: #DB7093;
}
.holder a{
    cursor: default;
}
.holder a.jp-disabled,a.disabled:hover{
    color: #fafafa;
    font-size: 0;
}
/* end 分页器 */

/* footer */
#footer{
    font-size: 0.5em;
    color: #BC8F8F;
    margin-top: 5%;
    width: 100%;
}
/* end footer */

/* to top/bottom */
#back-top {
    position: fixed;
    bottom: 10%;
    right: 5%;
}
#back-top a {
    width: 54px;
    height: 54px;
    display: block;
    background: url(img/to_top.png) no-repeat center center;
    background-size: 100%;
    transition: 1s;
}
#back-top a:hover {
    width: 54px;
    height: 54px;
    display: block;
    background: url(img/to_top1.png) no-repeat center center;
    background-size: 100%;
    transition: 1s;
}
/* end top/bottom */
}

/* pad */
@media screen and (max-width: 1024px) and (min-width: 750px){
/* all */
body{
    background-color: white;
    background-image: url(img/back3.png);
    background-repeat:repeat;
    background-position: top;
    background-position: center;
    background-size: 100%;
    font-family: "STXihei","PingFang SC","Microsoft Yahei","HiraMinProN-W3","ヒラギノ明朝 ProN W3","MS UI Gothic","MS Gothic",sans-serif;
}
h1{
    font-size: 4em;
    font-family: Georgia;
    color: #FFDAB9;
    z-index: 2;
    font-variant: small-caps;
    margin-bottom: 0%;
}
#head{
    display: none;
}
p.jianshu{
    font-size: 0.8em;
    color: #BC8F8F;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 1.5em;
}
/* end all */

/* 导航栏 */
div.daohang{
    margin-top: 0%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
    text-decoration: none;
}
li.daohanglist{
    display: inline;
}
    /* link */
    a.dhl{
        margin-top: 0;
        margin-left: 0%;
        margin-right:0%;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 12%;
        padding-right:12%;
    }
    a:hover.dhl{
        text-decoration: none; color: #DB7093; background-color: FLORALWHITE; border-style: solid; border-width: 1px;
    }
    a:visited.dhl{
        text-decoration: none; color: #DB7093; border-style: solid; border-width: 1px;
    }
    a:link.dhl{
        text-decoration: none;color: #DB7093; border-style: solid; border-width: 1px;
    }
/* end 导航栏 */

/* 侧边栏 */
#cebian1{       /* right */
    display: none;
}
#cebian{        /* unter */
    float: right;
    width: 30%;
    padding-right: 4%;
    text-align: left;
    z-index: 10;
    margin-top: 1.5%;
}
ul.ccc{
    margin-right: 2%;
    padding: 0;
}
li.gyo{
    font-size: 0.9em;
    color: #E6E6FA; 
}
p.category{
    font-size: 2em;
    border-bottom-style: dotted;
    border-width:1px;
    color: #666666;
}
    /* link */
    a.cebianlan{
        color: #977FB7;
        font-size: 0.8em;
        text-decoration: none;
    }
    a.cebianlan:hover{
        color: #977FB7;
        font-size: 0.8em;
        background: #F0F8FF;
        text-decoration: none;
    }
    a.cebianlan:visited{
        color: #977FB7;
        font-size: 0.8em;
        text-decoration: none;
    }
    
/* end 侧边栏 */

/* menu */
#menu{
    line-height: 2em;
    text-align: left;
    margin-right: 20%;
    width: 57%;
    margin-top: 5%;
    padding-top: 2%;
    margin-left: 3%;
}
div.mmulu{
    margin-bottom: 7%;
    background-color: white;
    box-shadow: 1px 1px 2px #FAF0E6;
    width: 100%;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: #FDF5E6;
    border-radius: 15px;
}
div.mmmulu{
    margin-top: 0%;
}
    /* link */
    a.mulu{
        color: #737070;
        font-size: 1em;
    }
    a:link.mulu{
        text-decoration: none;
    }
    a:visited.mulu{
        text-decoration: none;
    }
    a:hover.mulu{
        text-decoration: none;
        background-color: #FFFAF0;
    }
    a:active.mulu{
        text-decoration: none;
    }
    /* icon */
    img.muluicon{
        float: none;
        width: 100%;
        background-color: white;
        margin: 0;
    }
    /* date */
    p.icondate{
        color: #E1E5EA;
        font-size: 0.6em;
        text-align: center;
    }
    /* digest */
    p.digest{
        font-size: 0.8em;
        line-height: 1.7em;
        color: #A9A9A9;
        text-align: center;
        text-indent: 0;
        margin-left: 10%; 
        margin-right: 10%;
    }
    a:link.digesta{
        text-decoration: none;
    }
    a:visited.digesta{
        text-decoration: none;
    }
    a:hover.digesta{
        text-decoration: underline;
        color: #818181;
    }
    a:active{
        text-decoration: none;
    }
/* end menu */

/* pagiantor */
.holder{
    letter-spacing: 0.5em;
}
.holder a.jp-current,a.jp-current:hover{
    color: #DB7093;
    background-color: #FFFAFA;
}
.holder a{
    color: #FFE4E1;
}
.holder a:hover{
    color: #DB7093;
}
.holder a{
    cursor: default;
}
.holder a.jp-disabled,a.disabled:hover{
    color: #fafafa;
    font-size: 0;
}
/* end pagnator */

/* footer */
#footer{
    font-size: 0.5em;
    color: #BC8F8F;
    margin-top: 5%;
    width: 100%;
}
/* end footer */

/* to top/bottom */
#back-top {
    position: fixed;
    bottom: 10%;
    right: 5%;
}
#back-top a {
    width: 54px;
    height: 54px;
    display: block;
    background: url(img/to_top.png) no-repeat center center;
    background-size: 100%;
    transition: 1s;
}
#back-top a:hover {
    width: 54px;
    height: 54px;
    display: block;
    background: url(img/to_top1.png) no-repeat center center;
    background-size: 100%;
    transition: 1s;
}
/* end top/bottom */
}

/* phone */
@media screen and (max-width: 750px){
/* all */
body{
    background-image: url(img/tableback3.png);
    background-repeat:repeat;
    background-attachment: fixed;
    background-position: top;
    background-position: center;
    background-size: 100%;
    font-family: "STXihei","PingFang SC","Microsoft Yahei","HiraMinProN-W3","ヒラギノ明朝 ProN W3","MS UI Gothic","MS Gothic",sans-serif;
}
div.all{        /* white back */
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 9%;
    padding-bottom: 6%;
    background-color: rgba(251,251,251,0.85);
}
ul {        /* 消除列表前空格 */
    margin:0;
    padding:0;
}
#indexback1{
    display: none;
}
h1{
    font-size: 3em;
    font-family: Georgia;
    color: #BC8F8F;
    z-index: 2;
    font-variant: small-caps;
    margin-bottom: 0%;
}
#head{
    display: none;
}
p.jianshu{
    font-size: 0.8em;
    color: #BC8F8F;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    line-height: 1.5em;
}
a:active{
    text-decoration: none;
}
/* end all */

/* 导航栏 */
div.daohang{
    margin-top: 0%;
    margin-bottom: 5%;
    text-decoration: none;
}
li.daohanglist{
    display: inline-block;
    width: 25%;
    margin-top: 3%;
}
    /* link */       
    a.dhl{
        text-decoration: none;
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    a:hover.dhl{
        text-decoration: none; color: #D8BFD8;
    }
    a:visited.dhl{
        text-decoration: none; color: #D8BFD8;
    }
    a:link.dhl{
        text-decoration: none;color: #D8BFD8;
    }
/* end 导航栏 */

/* 侧边栏 */
#cebian{        /* right */
    display: none;
}
#cebian1{       /* under */
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 5%;
    margin-top: 3%;
    text-align: center;
}
ul.ccc{
    margin-right: 2%;
    padding: 0;
}
li.gyo{
    font-size: 0.9em;
    color: #E6E6FA;    
}
p.category{
    font-size: 2em;
    border-bottom-style: dotted;
    border-width:1px;
    color: #666666;
}
    /* link */
    a.cebianlan{
        color: #977FB7;
        font-size: 0.8em;
        text-decoration: none;
    }
     a.cebianlan:hover{
        color: #977FB7;
        font-size: 0.8em;
        background: #F0F8FF;
        text-decoration: none;
    }
    a.cebianlan:visited{
        color: #977FB7;
        font-size: 0.8em;
        text-decoration: none;
    }
/* end 侧边栏 */

/* 目录 */
#menu{
    line-height: 2em;
    text-align: left;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
div.mmulu{
    margin-bottom: 7%;
    background-color: white;
    box-shadow: 1px 1px 2px #FAF0E6;
    width: 100%;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: #FDF5E6;
    border-radius: 15px;
}
div.mmmulu{
    margin-top: 0%;
}
    /* link */
    a.mulu{
        color: #737070;
        font-size: 0.8em;
    }
    a:link.mulu{
        text-decoration: none;
    }
    a:visited.mulu{
        text-decoration: none;
    }
    a:hover.mulu{
        text-decoration: none;
        background-color: #FFFAF0;
    }
    a:active.mulu{
        text-decoration: none;
    }
    /* icon */
    img.muluicon{
        float: none;
        width: 100%;
        background-color: white;
        margin: 0;
    }
    /* date */
    p.icondate{
        color: #E1E5EA;
        font-size: 0.3em;
        text-align: center;
    }
    /* digest */
    p.digest{
        display: none;
    }
/* end 目录 */

/* paginator */
.holder{
    letter-spacing: 0.5em;
}
.holder a.jp-current,a.jp-current:hover{
    color: #9370DB;
}
.holder a{
    color: #E6E6FA;
    cursor: default;
}
.holder a:hover{
    color: #9370DB;
}
.holder a.jp-disabled,a.disabled:hover{
    color: #fafafa;
    font-size: 0;
}
/* end paginator */

/* footer */
#footer{
    font-size: 0.5em;
    color: #BC8F8F;
    margin-top: 5%;
    width: 100%;
}
/* end footer */

/* to top/bottom */
#back-top {
    display: none;
}
/* end top/bottom */
}

