#disqus_thread{
    width: 80%;
    height: auto;
    margin-top: 5%;
    font-size: 0.9em;
}

/* 前页后页 */
div.prenext{
    overflow: hidden;
    margin: 5% 5% 0% 5%;
}
a.pre{
    float: right;
    text-decoration: none;
    text-align: right;
    width: 40%;
    padding: 2% 1% 2% 1%;
    color: white;
}
a:link.pre{
    background-color: #008B8B;
    transition: 1s;
}
a:visited.pre{
    background-color: #008B8B;
}
a:hover.pre{
    background-color: #20B2AA;
    transition: 1s;
}
a.next{
    float: left;
    text-decoration: none;
    text-align: left;
    width: 40%;
    padding: 2% 1% 2% 1%;
    color: white;
}
a:link.next{
    background-color: #008B8B;
    transition: 1s;
}
a:visited.next{
    background-color: #008B8B;
}
a:hover.next{
    background-color: #20B2AA;
    transition: 1s;
}

#shoukai{
    font-size: 0.8em;
    color: #A9A9A9;
    text-align: left;
    line-height: 1.8em;
    padding: 0 8% 5% 8%;
    text-indent: 0;
}

#layla{
    font-size: 1.5em;
    color: #7C5192;
    margin: 0.5em;
    text-indent: 0;
}

/* pc屏幕大小 */
@media screen and (min-width: 1024px){

/* 整体大小设置 */
body{
    background-color: white;
    background-image: url(img/back3.png);
    background-repeat:repeat;
    background-position: top;
    background-position: center;
    background-size: 100%;
    font-family: "STXihei","PingFang SC","Microsoft Yahei","HiraMinProN-W3","ヒラギノ明朝 ProN W3","MS UI Gothic","MS Gothic",sans-serif;
}
#pagehead{  /* pc显示标题大图 */
    margin-bottom: -8%;
}
/* 整体大小设置结束 */

/* category目录单条前小图标设定 */
img.cbtu{
    width: 5%;
}
/* category目录单条前小图标设定结束 */

/* 导航栏设置 */
div.daohang{    /* 导航栏块整体设定 */
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 6.5%;
}
    /* 导航栏链接样式设置 */
    a.dhl{
    margin-top: 0;
    margin-left: 0%;
    margin-right:0%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 12%;
    padding-right: 12%;
    }
    a:hover.dhl{
    text-decoration: none; color: #DB7093; background-color: FLORALWHITE; border-style: solid; border-width: 1px;
    }

    a:visited.dhl{
    text-decoration: none; color: #DB7093; border-style: solid; border-width: 1px;
    }

    a:link.dhl{
    text-decoration: none;color: #DB7093; border-style: solid; border-width: 1px;
    }

    /* 导航栏列表样式设定 */
    ul.daohanglan{
    list-style-type: none; margin: 0; padding: 0;
    }

    li.daohanglist{
    display: inline;
    }
/* 导航栏设置结束 */

/* 侧边栏设置(Category&Profile) */
#cebian1{   /* 下方目录，供小屏使用 */
    display: none;
}

#cebian{        /* under */
    float: right;
    width: 27%;
    padding-right: 4%;
    text-align: left;
    z-index: 10;
    margin-top: 1.5%;
}
p.category{     /* title category & profile */
    font-size: 2em;
    border-bottom-style: dotted;
    border-width:1px;
    color: #666666;
    line-height: 1.5em;
    text-indent: 0;
}
ul.ccc{     /* gyo */
    margin-left: 2%;
    margin-right: 2%;
    padding: 0;
    line-height: 1.2em;
}
li.gyo{
    font-size: 0.9em;
    color: #E6E6FA;
}
li.tags{
    color: #977FB7;
    font-size: 0.8em;
} 

    /* 侧边栏内链接设定 */
    a.cebianlan{
    color: #977FB7;
    font-size: 0.8em;
    text-decoration: none;
    }
    a.cebianlan:hover{
    color: #977FB7;
    font-size: 0.8em;
    background: #F0F8FF;
    text-decoration: none;
    }
    a.cebianlan:visited{
    color: #977FB7;
    font-size: 0.8em;
    text-decoration: none;
    }
/* 侧边栏设置结束 */

/* 内容格式设置 */
div.content{    /* 整体内容区块设定 */
    margin-top: 8%;
    margin-left: 5%;
    margin-right: 35%;
    margin-bottom: 2%;
    line-height: 1.6em;
    background-color: white;
    border-radius: 15px;
    padding-top: 3%;
    padding-bottom: 3%;
}

div.neirong{    /* 正文样式设定 */
    padding-left:7%;
    padding-right: 9%;
    color: #5d5e60;
    font-family:  "STXihei","PingFang SC","Microsoft Yahei","HiraMinProN-W3","ヒラギノ明朝 ProN W3","MS UI Gothic","MS Gothic",sans-serif;
}

    /* 文字、标题格式设置 */
    h4.page{    /* title */
    font-size: 1.5em;
    color: #778899;
    font-weight: normal;
    padding-left: 3%;
    padding-right: 3%;
    }
    h1{
    font-size: 2em;
    }
    h2{ /* 一阶小标题 */
    font-size: 1.6em;
    background-image: url(img/titleback.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    text-indent: 14%;
    padding: 4%;
    margin-bottom: 3%;
    margin-top: 3%;
    color: #DB7093;
    }
    h3{ /* 二阶小标题 */
    font-size: 1.3em;
    padding: 0.5em;
    border-left-style: dotted;
    border-left-width: 10px;
    border-left-color: #FFF0F5;
    text-indent: 3%;
    }
    p{  /* 正文 */
    font-size: 0.95em;
    text-indent: 2em;
    }

    /* 表格样式设定 */
    table{
    border-collapse: collapse;
    }

    th,td{
    padding-left: 0.5em;
    padding-right: 0.5em;
    }

    td{
    text-align: left;
    }

    th{
    background-image: url(img/tableback.png);
    background-repeat: repeat;
    font-weight: bold;
    }

    /* 引用设定 */
    blockquote{
    font-size: 0.9em;
    color: #BC8F8F;
    background-color: #FFFCF7;
    padding-left: 3%;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: #FAF0E6;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    margin: 5%;
    font-style: italic;
    }

    hr {
    margin: 50px 0 !important;
    }
/* 内容格式设置结束 */

/* 返回键 */
a.back{
    margin-left: 10%;
    color: #FBD194;
    font-size: 0.6em;
    text-decoration: underline;

}
a.back:hover{
    background-color: #F0F8FF;
}
/* 返回键end */


/* footer */
footer{
    font-size: 0.5em;
    color: #BC8F8F;
    padding: 0.2%;
    margin-top: 5%;
}
/* end footer */

/* to top/bottom */
#back-top {
    position: fixed;
    bottom: 10%;
    right: 5%;
}
#back-top a {
    width: 54px;
    height: 54px;
    display: block;
    background: url(img/to_top.png) no-repeat center center;
    background-size: 100%;
    transition: 1s;
}
#back-top a:hover {
    width: 54px;
    height: 54px;
    display: block;
    background: url(img/to_top1.png) no-repeat center center;
    background-size: 100%;
    transition: 1s;
}
/* end top/bottom */
}

/* pad屏幕大小 */
@media screen and (max-width: 1024px) and (min-width: 750px){
/* 整体 */
body{
    background-color: white;
    background-image: url(img/back3.png);
    background-repeat:repeat;
    background-position: top;
    background-position: center;
    background-size: 100%;
    font-family: "STXihei","PingFang SC","Microsoft Yahei","HiraMinProN-W3","ヒラギノ明朝 ProN W3","MS UI Gothic","MS Gothic",sans-serif;
}    
#pagehead{
    margin-bottom: -8%;
    }
/* end整体 */

/* 侧边栏 */
#cebian{    /* 右侧边栏 */
    display: none;
}
#cebian1{   /* 下侧边栏 */
    margin-top: 8%;
    width: 80%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

p.category{     /* title category & profile */
    font-size: 2em;
    border-bottom-style: dotted;
    border-width:1px;
    color: #666666;
    line-height: 1.5em;
    text-indent: 0;
}
ul.ccc{     /* gyo */
    margin-right: 2%;
    margin-left: 2%;
    padding: 0;
    line-height: 1.2em;
}
li.gyo{
    font-size: 0.9em;
    color: #E6E6FA;
}
li.tags{
    color: #977FB7;
    font-size: 0.8em;
} 
    /* 侧边栏链接 */
    a.cebianlan{
    color: #977FB7;
    font-size: 0.8em;
    text-decoration: none;
    }
    a.cebianlan:hover{
    font-size: 0.8em;
    background: #F0F8FF;
    text-decoration: none;
    color: #977FB7;
    }
    a.cebianlan:visited{
    color: #977FB7;
    font-size: 0.8em;
    text-decoration: none;
    }

#left{
    float: left;
    width: 45%;
}
#right{
    float: right;
    width: 45%;
}
/* end侧边栏 */

/* 导航栏 */
div.daohang{
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 6.5%;
}
    /* 导航栏条目样式 */
    a.dhl{
        margin-top: 0;
        margin-right:0%;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 12%;
        padding-right: 12%;
        margin-left: 0%;
    }
    a:hover.dhl{
        text-decoration: none; color: #DB7093; background-color: FLORALWHITE; border-style: solid; border-width: 1px;
    }
    a:visited.dhl{
        text-decoration: none; color: #DB7093; border-style: solid; border-width: 1px;
    }
    a:link.dhl{
        text-decoration: none;color: #DB7093; border-style: solid; border-width: 1px;
    }
    ul.daohanglan{
        list-style-type: none; margin: 0; padding: 0;
    }
    li.daohanglist{
        display: inline;
    }
/* end导航栏 */

footer{
    color: #BC8F8F;
    font-size: 0.5em;
    padding: 0.2%;
    margin-top: 5%;
    clear: both;
    }
    
/* 内容样式 */
div.content{    /* 整体 */
    margin-top: 8%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    line-height: 1.7em;
    background-color: white;
    border-radius: 15px;
    padding-top: 3%;
    padding-bottom: 3%;
}

    /* title设定 */
    h4.page{
        font-size: 1.5em;
        color: #778899;
        font-weight: normal;
        padding-left: 3%;
        padding-right: 3%;
    }

    /* 正文 */
    div.neirong{
        padding-left:7%;
        padding-right: 9%;
        color: #5d5e60;
        font-family:  "STXihei","PingFang SC","Microsoft Yahei","HiraMinProN-W3","ヒラギノ明朝 ProN W3","MS UI Gothic","MS Gothic",sans-serif;
    }
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.6em;
        background-image: url(img/titleback.png);
        background-size: auto 100%;
        background-repeat: no-repeat;
        text-indent: 14%;
        padding: 4%;
        margin-bottom: 3%;
        margin-top: 3%;
        color: #DB7093;
    }
    h3{
        font-size: 1.3em;
        padding: 0.5em;
        border-left-style: dotted;
        border-left-width: 10px;
        border-left-color: #FFF0F5;
        text-indent: 3%;
    }
    p{
        font-size: 0.95em;
        text-indent: 2em;
    }

    /* table */
    table{
        border-collapse: collapse;
    }
    
    th,td{
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    
    td{
        text-align: left;
    }
    
    th{
        background-image: url(img/tableback.png);
        background-repeat: repeat;
        font-weight: bold;
    }
    /* end table */

    /* quote */
    blockquote{
        font-size: 0.9em;
        color: #BC8F8F;
        background-color: #FFFCF7;
        padding-left: 3%;
        border-left-style: solid;
        border-left-width: 3px;
        border-left-color: #FAF0E6;
        padding-top: 0.1%;
        padding-bottom: 0.1%;
        margin: 5%;
        font-style: italic;
    } 
    hr {
        margin: 50px 0 !important;
    }
    /* end quote */
/* end内容设定 */

/* back */
a.back{
    margin-left: 10%;
    color: #FBD194;
    font-size: 0.6em;
    text-decoration: underline;
}
a.back:hover{
    background-color: #F0F8FF;
}
/* end back */ 

/* to top/bottom */
#back-top {
    position: fixed;
    bottom: 10%;
    right: 5%;
}
#back-top a {
    width: 54px;
    height: 54px;
    display: block;
    background: url(img/to_top.png) no-repeat center center;
    background-size: 100%;
    transition: 1s;
}
#back-top a:hover {
    width: 54px;
    height: 54px;
    display: block;
    background: url(img/to_top1.png) no-repeat center center;
    background-size: 100%;
    transition: 1s;
}
/* end top/bottom */

}

/* phone屏幕大小 */
@media screen and (max-width: 750px){
/* 整体 */
body{
    padding: 0;
    background-image: url(img/tableback3.png);
    background-repeat:repeat;
    background-attachment: fixed;
    background-position: top;
    background-position: center;
    background-size: 100%;
    font-family: "STXihei","PingFang SC","Microsoft Yahei","HiraMinProN-W3","ヒラギノ明朝 ProN W3","MS UI Gothic","MS Gothic",sans-serif;
}
#pagehead{
    display: none;
}
div.all{    /* 白色透明层 */
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 9%;
    padding-bottom: 6%;
    padding-top: 6%;
    background-color: rgba(251,251,251,0.85);
}
/* end 整体 */

/* 侧边栏 */
#cebian{    /* 右侧边栏 */
    display: none;
}
#cebian1{   /* 下侧边栏 */
    margin-top: 15%;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

p.category{     /* title category & profile */
    font-size: 2em;
    border-bottom-style: dotted;
    border-width:1px;
    color: #666666;
    line-height: 1.5em;
    text-indent: 0;
}

ul.ccc{     /* gyo */
    margin-right: 2%;
    margin-left: 2%;
    padding: 0;
    line-height: 1.2em;
}
li.gyo{
    font-size: 0.9em;
    color: #E6E6FA;
}
li.tags{
    color: #977FB7;
    font-size: 0.8em;
} 
    /* link */
    a.cebianlan{
        color: #977FB7;
        font-size: 0.8em;
        text-decoration: none;
    }
    a.cebianlan:hover{
        color: #977FB7;
        font-size: 0.8em;
        background: #F0F8FF;
        text-decoration: none;
    }
    a.cebianlan:visited{
        color: #977FB7;
        font-size: 0.8em;
        text-decoration: none;
    }
/* end 侧边栏 */

/* 导航栏 */
div.daohang{
    text-decoration: none;
}
    /* 列表 */
    ul.daohanglan{     /* 取消列表前空格 */
    padding: 0;
    margin: 0;
    }    
    li.daohanglist{
        display: inline-block;
        width: 25%;
        margin-top: 3%;
    }
    /* 链接样式 */
    a.dhl{
        text-decoration: none;
    }
    a:hover.dhl{
        text-decoration: none; color: #D8BFD8;
    }
    a:visited.dhl{
        text-decoration: none; color: #D8BFD8;
    }
    a:link.dhl{
        text-decoration: none;color: #D8BFD8;
    }
    /* end 链接样式 */
/* end 导航栏 */

/* 内容样式 */
div.content{
    margin-top: 3%;
    margin-bottom: 2%;
    line-height: 1.5em;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 0.9em;
}
div.neirong{
    padding-left:7%;
    padding-right: 9%;
    color: #5d5e60;
    font-family:  "STXihei","PingFang SC","Microsoft Yahei","HiraMinProN-W3","ヒラギノ明朝 ProN W3","MS UI Gothic","MS Gothic",sans-serif;
}
    /* 字体 */
    h2{
        font-size: 1.6em;
        background-image: url(img/titleback.png);
        background-size: auto 100%;
        background-repeat: no-repeat;
        text-indent: 14%;
        padding: 4%;
        margin-bottom: 3%;
        margin-top: 3%;
        color: #DB7093;
    }
    h3{
        font-size: 1.3em;
        padding: 0.5em;
        border-left-style: dotted;
        border-left-width: 10px;
        border-left-color: #FFF0F5;
        text-indent: 3%;
    }
    h4.page{
        margin-left: 2%;
        margin-right: 2%;
        font-size: 1em;
        color: #778899;
        font-weight: normal;
        padding-left: 3%;
        padding-right: 3%;
    }
    p{
        font-size: 0.95em;
        text-indent: 2em;
    }
    /* 表格样式设定 */
    table{
        border-collapse: collapse;
    }
    th,td{
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    td{
        text-align: left;
    }
    th{
        background-image: url(img/tableback.png);
        background-repeat: repeat;
        font-weight: bold;
    }
    /* 引用 */
    blockquote{
        font-size: 0.9em;
        color: #BC8F8F;
        background-color: #FFFCF7;
        padding-left: 3%;
        border-left-style: solid;
        border-left-width: 3px;
        border-left-color: #FAF0E6;
        padding-top: 0.1%;
        padding-bottom: 0.1%;
        margin: 5%;
        font-style: italic;
    }
    hr {
        margin: 50px 0 !important;
    }
/* end 内容样式 */

/* back */
a.back{
    margin-left: 10%;
    color: #FBD194;
    font-size: 0.6em;
    text-decoration: underline;
}    
a.back:hover{
    background-color: #F0F8FF;
}
/* end back */

/* footer */
footer{
    font-size: 0.5em;
    color: #BC8F8F;
    padding: 0.2%;
    margin-top: 5%;
}
/* end footer */

/* to top/bottom */
#back-top {
    position: fixed;
    bottom: 10%;
    right: 5%;
}
#back-top a {
    width: 54px;
    height: 54px;
    display: block;
    background: url(img/to_top.png) no-repeat center center;
    background-size: 100%;
    transition: 1s;
}
#back-top a:hover {
    width: 54px;
    height: 54px;
    display: block;
    background: url(img/to_top1.png) no-repeat center center;
    background-size: 100%;
    transition: 1s;
}
/* end top/bottom */
}