<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if page.class == "gx" %}『感想』{% endif %}{{ page.title }} | {{ site.title }}</title>  <!-- 网页标签，搜索引擎使用 -->
    <meta name="description" content="{{ page.digest | truncate: 200 }}">
    <meta name="keywords" content="{{ page.tags }},{{ site.keywords }},{{ site.title }},{{ page.title }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- html基础设定，无需改动 -->
    <link rel="stylesheet" href="{{ site.url }}/assets/post.css">    <!-- 与CSS文件链接 -->
    <!-- 网页图标 -->
    <link rel="icon" href="{{ site.url }}/assets/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="{{ site.url }}/assets/img/favicon.ico" type="image/x-icon">

    <script src="https://code.jquery.com/jquery-1.8.1.min.js"></script> <!-- jquery -->
    <script src="{{ site.url }}/assets/jPages.js"></script>
    <script>
        //back to top or bottom
        $("#back-top").hide();
        $(document).ready(function () {
            $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
            $('#back-top').fadeIn();
            } else {
            $('#back-top').fadeOut();
            }
            });
            $('#back-top a').click(function () {
            $('body,html').animate({
            scrollTop: 0
            }, 800);
            return false;
            });
            });
    </script>
    
    <!-- 计数 -->
    <script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

</head>

<body>
<div class="all">

<!-- 此处用为post模板 -->
<div><center><img id="pagehead" src="{{ site.url }}/assets/img/pagehead.png" width="100%"></center></div>
<!-- 顶上图片确定 -->

<!-- 导航条 -->
<center><div class="daohang">
    <ul class="daohanglan">
        <li class="daohanglist"><a class="dhl" href="{{ site.url }}/index.html">HOME</a></li>
        <li class="daohanglist"><a class="dhl" href="{{ site.url }}/list.html">LIST</a></a></li>
        <li class="daohanglist"><a class="dhl" href="{{ site.url }}/about.html">ABOUT</a></a></li>
    </ul>
</div></center>
<!-- 导航栏结束 -->

<!-- 右边侧边栏 -->
<div id="cebian">
    <center><p class="category">PROFILE</p></center>
    <center><img src="{{ site.url }}/assets/img/tx.png" width = "60%"></center>
    <center><p id="layla">|&nbsp;&nbsp;&nbsp;Layla&nbsp;&nbsp;&nbsp;|</p></center>
    <center><p id="shoukai">
        (ﾉ◕ヮ◕)ﾉ 欢迎来到博客！<br \>
        自我介绍：{{ site.selfdescription }}<br \>
        <br \>
        · 感想剧透有要·注·意w！<br \>
        · 转载一万个禁止！<br \>
        · 当ブログ内で使用しているバナー・画像等は全て各会社様に帰属致します。
    </p></center>
    <center><p class="category">CATEGORY</p></center>
    <!-- 列表 -->
    {% assign posts_initial = site.posts | sort :"title" %}
    {% assign groups = posts_initial | group_by: "category" | sort: "name" %}
    {% for group in groups %}
    <ul class="ccc" style="list-style: none;">
        <li class="gyo"><img src="{{ site.url }}/assets/img/ribbon3.png" width="5%">{{ group.name }}({{ group.items.size }})</li>
        {% for post in group.items %}
        <li><a class="cebianlan" href="{{ post.url }}"><img src="{{ site.url }}/assets/img/dot.png" width="4%">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>
<!-- 侧边栏结束 -->

<!-- contents模板-->
<div class="content">
    <center>
    <h4 class="page"><img src="{{ site.url }}/assets/img/aixin.png" width="2.5%">{% if page.class == "gx" %}『感想』{% endif %}{{ page.title }}</h4>
    <p style="color: #778899; font-size: 0.6em;">{{ page.date | date_to_string }} | 字数: {{ content.size }} | 点击：<span id="busuanzi_container_page_pv"><span id="busuanzi_value_page_pv"></span></span><br></p>
    <p style="color: #778899; font-size: 0.6em;line-height: 1.5em;">※所有相关内容皆为架空创作，与现实无任何关联。<br>
    作品的最终解释权属于开发商。
    </p>
    <img src="{{ site.url }}/assets/img/fenge10.png" width="70%">
    </center>
    <div class="neirong">
    {{ content }}
    </div>
    <center><img src="{{ site.url }}/assets/img/fenge10.png" width="70%"></center>

    <!-- comment modul -->
    {% if page.comments %}
    <center>
    <div id="disqus_thread"></div>
    <script>
    (function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://bluemarmle.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </center>
    {% endif %}

    <!-- next&preview -->
    <div class="prenext">
        {% if page.next %}
        <a class="next" href="{{ page.next.url }}">〈下一篇记事</a>
        {% endif %}
        {% if page.previous %}
        <a class="pre" href="{{ page.previous.url }}">上一篇记事〉</a>
        {% endif %}
    </div>
</div>

<div id="cebian1">
    <div id="left">
    <center><p class="category">PROFILE</p></center>
    <center><img src="{{ site.url }}/assets/img/tx.png" width = "60%"></center>
    <center><p id="layla">|&nbsp;&nbsp;&nbsp;Layla&nbsp;&nbsp;&nbsp;|</p></center>
    <center><p id="shoukai">
        (ﾉ◕ヮ◕)ﾉ 欢迎来到博客！<br \>
        自我介绍：{{ site.selfdescription }}<br \>
        <br \>
        · 感想剧透有要·注·意w！<br \>
        · 转载一万个禁止！<br \>
        · 当ブログ内で使用しているバナー・画像等は全て各会社様に帰属致します。
    </p></center>
    </div>

    <div id="right">
    <center><p class="category">CATEGORY</p></center>
    <!-- 列表 -->
    {% assign posts_initial = site.posts | sort :"title" %}
    {% assign groups = posts_initial | group_by: "category" | sort: "name" %}
    {% for group in groups %}
    <ul class="ccc" style="list-style: none;">
        <li class="gyo"><img src="{{ site.url }}/assets/img/ribbon3.png" width="5%">{{ group.name }}({{ group.items.size }})</li>
        {% for post in group.items %}
        <li><a class="cebianlan" href="{{ post.url }}"><img src="{{ site.url }}/assets/img/dot.png" width="3%">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}
    </div>
</div>

<!-- to top/bottom -->
<div id="back-top">
    <a href="#top" title="回到顶部"></a>
</div>

</div>
</body>

<footer>
<center>© 2017-2019 LaylasBlog</center>
</footer>

</html>