<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BlueMarmle {{ page.title }}</title>
    <!-- html基础设定，无需改动 -->
    <link rel="stylesheet" href="{{ site.url }}/assets/post.css">    <!-- 与CSS文件链接 -->
    <!-- 网页图标 -->
    <link rel="icon" href="{{ site.url }}/assets/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="{{ site.url }}/assets/img/favicon.ico" type="image/x-icon">

<script src="https://code.jquery.com/jquery-1.8.1.min.js"></script> <!-- jquery -->
<script src="{{ site.url }}/assets/jPages.js"></script>
<script>
        //back to top or bottom
        $("#back-top").hide();
        $(document).ready(function () {
            $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
            $('#back-top').fadeIn();
            } else {
            $('#back-top').fadeOut();
            }
            });
            $('#back-top a').click(function () {
            $('body,html').animate({
            scrollTop: 0
            }, 800);
            return false;
            });
            });
</script>
</head>

<body>
<div class="all">

<!-- 此处用为post模板 -->
<div><center><img id="pagehead" src="{{ site.url }}/assets/img/pagehead.png" width="100%"></center></div>
<!-- 顶上图片确定 -->

<!-- 导航条 -->
<center><div class="daohang">
    <ul class="daohanglan">
        <li class="daohanglist"><a class="dhl" href="{{ site.url }}/index.html">HOME</a></li>
        <li class="daohanglist"><a class="dhl" href="{{ site.url }}/list.html">LIST</a></a></li>
        <li class="daohanglist"><a class="dhl" href="{{ site.url }}/about.html">DIARY</a></a></li>
    </ul>
</div></center>
<!-- 导航栏结束 -->

<!-- 右边侧边栏 -->
<div id="cebian">
<center><h6 class="category">PROFILE</p></center>
    <!-- 微博秀 -->
    <iframe width="100%" height="400" class="share_self"  frameborder="0" scrolling="no" src="https://widget.weibo.com/weiboshow/index.php?language=&width=0&height=400&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=1&isWeibo=1&isFans=0&uid=6600590670&verifier=fb1fb1d5&colors=666666,ffffff,666666,DB7093,F5F5F5&dpc=1"></iframe>
<center><h6 class="category">CATEGORY</p></center>
    <!-- 列表 -->
    {% assign pages = site.posts | sort_natural: "initial" %}
    <ul class="ccc" style="list-style: none;">
        <li class="gyo"><img class="gyotu" src="{{ site.url }}/assets/img/ribbon3.png">か行</li>
        {% for post in pages %}
        {% if post.tag == "ka" %}
        <li><a class="cebianlan" href="{{ post.url }}"><img class="cbtu" src="{{ site.url }}/assets/img/dot.png">{{ post.surtitle }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    <ul class="ccc" style="list-style: none;">
        <li class="gyo"><img class="gyotu" src="{{ site.url }}/assets/img/ribbon3.png">さ行</li>
        {% for post in pages %}
        {% if post.tag == "sa" %}
        <li><a class="cebianlan" href="{{ post.url }}"><img class="cbtu" src="{{ site.url }}/assets/img/dot.png">{{ post.surtitle }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    <ul class="ccc" style="list-style: none;">
        <li class="gyo"><img class="gyotu" src="{{ site.url }}/assets/img/ribbon3.png">は行</li>
        {% for post in pages %}
        {% if post.tag == "ha" %}
        <li><a class="cebianlan" href="{{ post.url }}"><img class="cbtu" src="{{ site.url }}/assets/img/dot.png">{{ post.surtitle }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    <ul class="ccc" style="list-style: none;">
        <li class="gyo"><img class="gyotu" src="{{ site.url }}/assets/img/ribbon3.png">ら行</li>
        {% for post in pages %}
        {% if post.tag == "ra" %}
        <li><a class="cebianlan" href="{{ post.url }}"><img class="cbtu" src="{{ site.url }}/assets/img/dot.png">{{ post.surtitle }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    <ul class="ccc" style="list-style: none;">
        <li class="gyo"><img class="gyotu" src="{{ site.url }}/assets/img/ribbon3.png">其他</li>
        {% for post in pages %}
        {% if post.tag == "huizong" %}
        <li><a class="cebianlan" href="{{ post.url }}"><img class="cbtu" src="{{ site.url }}/assets/img/dot.png">{{ post.surtitle }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
<!-- 侧边栏结束 -->

<!-- contents模板-->
<div class="content">
<center>
    <h4 class="page"><img src="{{ site.url }}/assets/img/aixin.png" width="2.5%">{{ page.title }}</h4>
    <p style="color: #778899; font-size: 0.6em;">{{ page.date | date_to_string }} | 字数: {{ content.size }}<br></p>
    <p style="color: #778899; font-size: 0.6em;line-height: 1.5em;">※所有相关内容皆为架空创作，与现实无任何关联。<br>
    作品的最终解释权属于开发商。
    </p>
    <img src="{{ site.url }}/assets/img/fenge10.png" width="70%">
    </center>
    <div class="neirong">
    {{ content }}
    </div>
    <!-- comment modul -->
    {% if page.comments %}
    <center>
    <div id="disqus_thread"></div>
    <script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://bluemarmle.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </center>
    {% endif %}
</div>

<!-- back -->
<div>
<a class="back" href="{{ site.url }}/index.html#indexmiao">·BACK</a>
</div>



<div id="cebian1">
    <center><h6 class="category">CATEGORY</p></center>
    <!-- 列表 -->
    {% assign pages = site.posts | sort_natural: "initial" %}
    <ul class="ccc" style="list-style: none;">
        <li class="gyo"><img class="gyotu" src="{{ site.url }}/assets/img/ribbon3.png">か行</li>
        {% for post in pages %}
        {% if post.tag == "ka" %}
        <li><a class="cebianlan" href="{{ post.url }}"><img class="cbtu" src="{{ site.url }}/assets/img/dot.png">{{ post.surtitle }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    <ul class="ccc" style="list-style: none;">
            <li class="gyo"><img class="gyotu" src="{{ site.url }}/assets/img/ribbon3.png">さ行</li>
            {% for post in pages %}
            {% if post.tag == "sa" %}
            <li><a class="cebianlan" href="{{ post.url }}"><img class="cbtu" src="{{ site.url }}/assets/img/dot.png">{{ post.surtitle }}</a></li>
            {% endif %}
            {% endfor %}
    </ul>
    <ul class="ccc" style="list-style: none;">
            <li class="gyo"><img class="gyotu" src="{{ site.url }}/assets/img/ribbon3.png">は行</li>
            {% for post in pages %}
            {% if post.tag == "ha" %}
            <li><a class="cebianlan" href="{{ post.url }}"><img class="cbtu" src="{{ site.url }}/assets/img/dot.png">{{ post.surtitle }}</a></li>
            {% endif %}
            {% endfor %}
    </ul>
    <ul class="ccc" style="list-style: none;">
        <li class="gyo"><img class="gyotu" src="{{ site.url }}/assets/img/ribbon3.png">ら行</li>
        {% for post in pages %}
        {% if post.tag == "ra" %}
        <li><a class="cebianlan" href="{{ post.url }}"><img class="cbtu" src="{{ site.url }}/assets/img/dot.png">{{ post.surtitle }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    <ul class="ccc" style="list-style: none;">
            <li class="gyo"><img class="gyotu" src="{{ site.url }}/assets/img/ribbon3.png">其他</li>
            {% for post in pages %}
            {% if post.tag == "huizong" %}
            <li><a class="cebianlan" href="{{ post.url }}"><img class="cbtu" src="{{ site.url }}/assets/img/dot.png">{{ post.surtitle }}</a></li>
            {% endif %}
            {% endfor %}
    </ul>
</div>

<!-- to top/bottom -->
<div id="back-top">
    <a href="#top" title="回到顶部"></a>
</div>

</div>
</body>

<footer>
<center>© 2017-2018 BlueMarmle</center>
</footer>

</html>